<div class="container-fluid">
  <a class="btn btn-primary" routerLink="/books/new" role="button">New Book</a>
  <div class="row p-2">
    <div class="col-1" *ngFor="let b of books">
      <figure class="figure">
        <img class="img-fluid" src='{{b.image}}' (click)="onSelected(b)" />
        <figcaption class="title-caption text-center">{{b.name}}.</figcaption>
        <p class="text-center" *ngFor="let a of b.authors"><a routerLink="/authors/{{a.id}}">{{a.name}}</a></p>
      </figure>
    </div>
  </div>
  <div class="row p-2">
    <div class="col border">
      <div *ngIf="selected">
        <app-book-detail [bookDetail]="selectedBook"></app-book-detail>
      </div>
    </div>
  </div>
</div>
