<div class="panel-body">
    <div class="border margin p-3">
      <p class="h3 p-2">{{authorDetail.name}}<p>
          <div class="row">
            <div class="col-2">
              <div class="thumb">
                <img class="img-fluid img-thumbnail" src='{{authorDetail.image}}' alt="{{authorDetail.image}}" />
              </div>
            </div>
            <div class="col-3">
              <dl>
                <dt>Bio</dt>
                <dd>{{authorDetail.description}}</dd>
                <dt>BirthDay</dt>
                <dd>{{ strToDate(authorDetail.birthDate) |date:"longDate"}}</dd>
              </dl>
            </div>
          </div>
    </div>
    <p class="h3 p-3">Books by this author: </p>
    <div class="row p-2">
      <div class="col-1" *ngFor="let b of authorDetail.books">
        <figure class="figure">
          <a routerLink="../../books/{{b.id}}">
          <img class="img-fluid" src="{{b.image}}" /></a>
          <figcaption class="title-caption text-center">{{b.name}}.</figcaption>
        </figure>
      </div>
    </div>
  </div>
